body {
    background-color: rgb(140, 111, 187);
    color: rgb(77, 4, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Georgia;
}

.form {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 3rem;

}

.character-amount-container {
    display: flex;
    align-items: center;
}

.title {
    text-align: center;
}

label {
    font-weight: bolder;
}

.container {
    background-color: #7c5e99;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 5rem;
    display: flex;
    border: 2px solid rgb(92, 5, 94);
}

.number-input {
    width: 30px;
    height: 12px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
}

.password-display {
    background-color: white;
    color: rgb(77, 4, 110);
    padding: 0.5rem;
    border: 3px solid rgb(92, 5, 94);
    height: 1.5rem;
    width: 350px;
    display: flex;
    justify-content: center;
    border-radius: 4rem;
    align-items: center;
    word-break: break-all;
    /*fit long password*/
}

.btn {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid rgb(92, 5, 94);
    color: white;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 15px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 19px;
    /* Set a specific slider handle width */
    height: 19px;
    /* Slider handle height */
    background: rgb(137, 15, 161);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}